header {
  font-size: 30px;
  background-color: #faee00;
  background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
}

header div {
  position: relative;
  text-align: center;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

#bigAvatar {
  transition: transform .99s ease-in-out;
  -moz-transition: transform .99s ease-in-out;
  -webkit-transition: transform .99s ease-in-out;
}


