header {
  font-size: 30px;
  height: 500px;
  width: 100%;
  background-color: #faee00;
  background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
}

header div {
  top: 130px;
  position: relative; 
  text-align: center;
  color: white;
  font-family: 'Source Sans Pro', sans-serif
}

#bigAvatar {
  transition: transform .99s ease-in-out;
  -moz-transition: transform .99s ease-in-out;
  -webkit-transition: transform .99s ease-in-out;
}


