main .tweets:hover {
  box-shadow: 10px 10px 0px #4056A1;
  transition: box-shadow .99s ease-in-out;
  -moz-transition: box-shadow .99s ease-in-out;
  -webkit-transition: box-shadow .99s ease-in-out;
}

main .avatarNameHandle {
  opacity: 0.5;
  transition: opacity .30s ease-in-out;
  -moz-transition: opacity .30s ease-in-out;
  -webkit-transition: opacity .30s ease-in-out;
}

main .tweets:hover .avatarNameHandle{
  opacity: 1;
}

main .tweetContent {
  opacity: 0.5;
  transition: opacity .30s ease-in-out;
  -moz-transition: opacity .30s ease-in-out;
  -webkit-transition: opacity .30s ease-in-out;
}

main .tweets:hover .tweetContent{
  opacity: 1;
}

main footer {
  opacity: 0.5;
  transition: opacity .30s ease-in-out;
  -moz-transition: opacity .30s ease-in-out;
  -webkit-transition: opacity .30s ease-in-out;
}

main .tweets:hover footer{
  opacity: 1;
}


